{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="container py-5 row">
      <aside class="col-12 col-md-3">

      </aside>
      <article class="col-12 col-md-9">
        <h1>Привет, я Евстафьев Роман, автор этого проекта.</h1>
        <p>
          Всю жизнь работал в продажах, попытался запустить собственный бизнес,
            но из-за череды обстоятельств решил отказаться от этой идеи.
            Начал снова искать работу в сфере продаж и осознал, что больше не хочу этим заниматься.
            Спонтанно принял решение переквалифицироваться в IT,
            по совету знакомой записался на курс Яндекс Практикума и вот я уже с радостью могу представить Вам свой проект.
        </p>
      </article>
    </div>
{% endblock %}