{% load user_filters %}
{% load mptt_tags %}
{% with request.resolver_match.view_name as view_name %}
{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">
        {% if not view_name == 'posts:add_child_comment' %}
            {% if form.instance.pk %}Редактировать комментарий:{% else %}Добавить комментарий:{% endif %}
        {% else %}
            Ответ:
        {% endif %}
    </h5>
    <div class="card-body">
      <form method="post"
              {% if not view_name == 'posts:add_child_comment' %}
                  {% if form.instance.pk %}
                    action="{% url 'posts:edit_comment' comment.id %}"
                  {% else %}
                    action="{% url 'posts:add_comment' post.id %}"
                  {% endif %}
              {% else %}
                    action="{% url 'posts:add_child_comment' comment.id %}"
              {% endif %}
      >
        {% csrf_token %}
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
          <small class="form-text text-muted">
            {{ form.text.help_text|safe }}
          </small>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if not view_name == 'posts:add_child_comment' %}
                {% if form.instance.pk %}Сохранить{% else %}Отправить{% endif %}
            {% else %}
                Ответить
            {% endif %}
        </button>
      </form>
    </div>
  </div>
{% endif %}
{% endwith %}
<p>Всего комментариев: {{ post.comments.count }}</p>
{% recursetree comments %}
    <div class="media mb-4 border rounded main-div" style="padding: 20px;">
        <h5 class="mt-0">
            <a class="text-decoration-none" href="{% url 'posts:profile' node.author.username %}">
                {{ node.author.username }}
            </a>
        </h5>
        <p class="text-muted">
            {{ node.created }}
        </p>
        <p>
            {{ node.text }}
        </p>
        {% if user == node.author %}
            <a class="btn btn-outline-primary" style="margin-bottom: 15px"
               href="{% url 'posts:edit_comment' node.pk %}">
                редактировать комментарий
            </a>
        {% endif %}
        {% if user == post.author or user == node.author %}
            <a class="btn btn-outline-secondary" style="margin-bottom: 15px"
               href="{% url 'posts:delete_comment' node.pk %}">
                удалить комментарий
            </a>
        {% endif %}
        {% if user.is_authenticated and not node.parent %}
            <p>
                <a class="btn btn-primary"
                   href="{% url 'posts:add_child_comment' node.pk %}">
                    ответить
                </a>
            </p>
        {% endif %}
        {% if not node.parent %}
            {% if node.children.count != 0 %}
                <hr>
                <button class="btn btn-outline-info toggle-btn">
                    показать ответы
                </button>
                <span style="padding-left: 30px" class="text-muted">всего ответов: {{ node.children.count }}</span>
            {% endif %}
        {% endif %}
        {% if not node.is_leaf_node %}
            <div class="children col-12 col-md-11"
                 style="margin-top: 20px; margin-left: 40px; display: none">
                {{ children }}
            </div>
        {% endif %}
    </div>
{% endrecursetree %}
<button class="btn btn-light button-show-more" style="margin: 0 auto; display: block">показать еще</button>