{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">
        {% if form.instance.pk %}Редактировать комментарий:{% else %}Добавить комментарий:{% endif %}</h5>
    <div class="card-body">
      <form method="post"
            {% if is_edited %}
                action="{% url 'posts:edit_comment' comment.id %}"
            {% else %}
                action="{% url 'posts:add_comment' post.id %}"
            {% endif %}
      >
        {% csrf_token %}
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
          <small class="form-text text-muted">
            {{ form.text.help_text|safe }}
          </small>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Сохранить{% else %}Отправить{% endif %}
        </button>
      </form>
    </div>
  </div>
{% endif %}
<p>Всего комментариев: {{ post.comments.count }}</p>
{% for comment in comments %}
  <div class="media mb-4 border rounded" style="padding: 20px">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
      <p>
        {{ comment.created }}
      </p>
        <p>
         {{ comment.text }}
        </p>
        {% if user == comment.author %}
            <a class="btn btn-primary" href="{% url 'posts:edit_comment' comment.pk %}">
            редактировать комментарий
            </a>
        {% endif %}
        {% if user == post.author or user == comment.author %}
            <a class="btn btn-outline-secondary" href="{% url 'posts:delete_comment' comment.pk %}">
              удалить комментарий
            </a>
        {% endif %}
      </div>
    </div>
{% endfor %}