{% extends 'base.html' %}
{% block title %}{{ post.text|truncatewords:30 }}{% endblock %}
{% block content %}
  <div class="container py-5 row">
    <aside class="col-12 col-md-3">
        <article class="border rounded" style="padding: 5px">
            {% include 'posts/includes/profile_card.html' with author=post.author %}
        </article>
    </aside>
    <div class="col-12 col-md-9 border rounded" style="padding: 15px">
      {% include 'posts/includes/image_displaying.html' %}
      <p>
       {{ post.text|linebreaks }}
      </p>
      <p style="text-align: right" class="text-muted">{{ post.pub_date|date:'d E Y' }}</p>
      {% if request.user == post.author %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
                редактировать запись
        </a>
        <a class="btn btn-outline-secondary" href="{% url 'posts:post_delete' post.pk %}">
          удалить запись
        </a>
      {% endif %}
      {% include 'posts/includes/add_comment.html' %}
    </div>
  </div>
{% endblock %}